<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/javascripts/minified-jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"></script>
  </head>

  <body>
    <header><span id="title">Ben Trevor</span></header>
    <div id="content_container">
      <%= yield %>
    </div>
  </body>
</html>
